
blatt2/None0000000.png
blatt2/.ipynb_checkpoints/exercise2-checkpoint.ipynb
blatt2/.ipynb_checkpoints/exercise2-checkpoint.ipynb
blatt3/.ipynb_checkpoints/exercise3-checkpoint.ipynb
blatt4/.ipynb_checkpoints/
blatt5/.ipynb_checkpoints/
blatt6/.ipynb_checkpoints/
blatt7/.ipynb_checkpoints/
blatt8/.ipynb_checkpoints/
blatt9/.ipynb_checkpoints/
blatt10/.ipynb_checkpoints/
blatt3/.ipynb_checkpoints/feedback-checkpoint.ipynb
